.chat-shapes {
	position: fixed;
	bottom: 5px;
	margin: auto;
	align-items: center;
	display: block;
	left: 50%;
	transform: translate(-50%, 0);

	.chat-shapes__list {
		display: flex;
		flex-direction: row;
		list-style: none;
		justify-content: center;

		.chat-shapes__item {
			cursor: pointer;
			padding-right: 10px;
			padding-left: 10px;
			&:not(:last-child) {
				border-right: 1px solid #eee;
			}
		}
	}
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

.chat-info {
	position: fixed;
	right: 5px;
	top: 5px;
}
