.chat-shapes {
	position: fixed;
	bottom: 5px;
	margin: auto;
	align-items: center;
	display: block;
	left: 50%;
	transform: translate(-50%, 0);

	.chat-shapes__list {
		display: flex;
		flex-direction: row;
		list-style: none;
		justify-content: center;

		.chat-shapes__item {
			cursor: pointer;
			padding-right: 10px;
        
            height: 100%;
			padding-left: 10px;
			&:not(:last-child) {
				border-right: 1px solid #eee;
			}
		}
	}
}


.chat-info {
	position: fixed;
	right: 5px;
	top: 5px;
}


@media only screen and (max-width: 1000px) {
    .chat-shapes .chat-shapes__list .chat-shapes__item {
        padding-right: 5px ;
        padding-left: 5px ;
    }
}

@media only screen and (max-width: 800px) {
    .chat-shapes .chat-shapes__list .chat-shapes__item {
        padding-right: 4px ;
        padding-left: 4px ;
    }
}

@media only screen and (max-width: 500px) {
    .chat-shapes .chat-shapes__list .chat-shapes__item {
        padding-right: 3px ;
        padding-left: 3px ;
    }
}
@media only screen and (max-width: 400px) {
    .chat-shapes {
        width: 100%;
        bottom: 0px;
    }
    .chat-shapes__list { 
        border-radius: 0;
    }
   
}

